%h1 Welcome to UC Berkeley Room Reservation

- @api = ENV['GOOGLE_API_KEY']

#legend{:align => "center"}
  %p#buildingName
#map
:javascript
  var map;
  var legend = document.getElementById('buildingName');

%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{@api}&callback=initMap"}

%div
  - if current_user
    Signed in as
    = succeed "!" do
      %strong= current_user.name
    = link_to "Sign out", signout_path, id: "sign_out"
  - else
    = link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in"
%div